ClientApp/Connected Services/Bank_Service/Bank_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Bank_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57447/Bank_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57447/Bank_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57447/Bank_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBank_Service_Convert_InputMessage">
    <wsdl:part name="parameters" element="tns:Convert" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_Convert_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConvertResponse" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_GetCurrencyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyInfo" />
  </wsdl:message>
  <wsdl:message name="IBank_Service_GetCurrencyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrencyInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IBank_Service">
    <wsdl:operation name="Convert">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank_Service/Convert" message="tns:IBank_Service_Convert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank_Service/ConvertResponse" message="tns:IBank_Service_Convert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBank_Service/GetCurrencyInfo" message="tns:IBank_Service_GetCurrencyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBank_Service/GetCurrencyInfoResponse" message="tns:IBank_Service_GetCurrencyInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBank_Service" type="tns:IBank_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Convert">
      <soap:operation soapAction="http://tempuri.org/IBank_Service/Convert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyInfo">
      <soap:operation soapAction="http://tempuri.org/IBank_Service/GetCurrencyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bank_Service">
    <wsdl:port name="BasicHttpBinding_IBank_Service" binding="tns:BasicHttpBinding_IBank_Service">
      <soap:address location="http://localhost:57447/Bank_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>